@tailwind base;
@tailwind components;

body, .leaflet-container {
  font-family: Overpass;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none;
  border-radius: 5px;
}

@tailwind utilities;